.title{
    margin: 5px;
    color: #e6e1cd;
}

.form {
  display: flex;
}

.inputs {
  padding: 1%;
  background: transparent;
}

.inputForm {
  width: 100%;
  padding: 12px;
  margin-bottom: 2%;
  font-size: 20px;
  border: 2px solid #d6b3b1;
  border-radius: 4px;
  box-sizing: border-box;
  background: #d6b3b1;
}

.inputForm:focus {
  color: #231b42;
  border: 3px solid #f97992;
}

.inputForm:hover {
  color: #231b42;
  border: 3px solid #f97992;
}

.bttn-form {
  align-self: center;
  padding: 1%;
  width: 60px;
  height: 60px;
  background: #d6b3b1;
  border: none;
  border-radius: 4px;
  color: #231b42;
}

.bttn-form:hover {
  background: #231b42;
  color: #d6b3b1;
}

.iconForm {  
  width: 96%;
  height: 96%;
  background: transparent;
}